NameError: variable @dk-blue is undefined in C:\Users\ethan\phpstorm_projects\million\less\mixins.less on line 6, column 63:
5   margin-top:-256px;
6   background: url(../img/body-bg.jpg) no-repeat center bottom @dk-blue;
7   padding-bottom:50px;

