NameError: variable @white is undefined in C:\Users\Ethan\PhpstormProjects\million\wp-content\themes\million\less\responsive.less:225:17
224       overflow:hidden;
225       background:@white;
226       margin-top:30px;

