// General Styles
// ------------------------------------
html {
  overflow-x:hidden;
}
body {
  .tk-prox;
}
::-webkit-input-placeholder { /* WebKit browsers */
  color:    @black;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    @black;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    @black;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:    @black;
}


// Header
// ------------------
#main-header {
  background-color:@dk-blue;
  width:1058px;
  margin:0 auto;
  padding:0 58px;
  z-index:10;
  height:178px;
  z-index:10;
  box-shadow:0px 5px 10px 5px rgba(0,0,0,.6);
  .social-bar {
    float:right;
    text-align:right;
    margin-top:12px;
  }
}
#header-ad {
  position:absolute;
  right:49px;
  top:38px;
}
.menu-wrap {
  position:absolute;
  bottom:9px;
  left:280px;
  li {
    float:left;
    position:relative;
    padding-bottom:6px;
    margin-right:16px;
    border-bottom:solid 2px transparent;
    &.current-menu-item {
      border-color:@white;
    }
    &:hover {
      .sub-menu {
        display:block;
      }
    }
  }
  a {
    color:@white;
    font-size:13px;
    font-weight:bold;
    text-transform:uppercase;
  }
}
.sub-menu {
  padding-top:12px;
  display:none;
  position:absolute;
  z-index:9;
  top:21px;
  left:0;
  li {
    background:@lt-blue;
    margin:0;
    padding:0 19px;
    border-bottom:solid 1px @dk-blue;
    min-width:140px;
    &:first-child {
      background: url(../img/drop-shadow.png) repeat-x center top @lt-blue;
    }
    &:last-child {
      border-bottom:0;
    }
  }
  a, span {
    color:@white;
    display:block;
    white-space: nowrap;
    padding:16px 0;
    font-size:14px;
    text-transform: capitalize;
    font-weight:normal;
  }
}
.social-bar {
  li {
    float:left;
  }
  a {
    float:left;
    color:@off-white;
    font-size:12px;
    font-weight:bold;
    text-transform: uppercase;
    margin-left:13px;
    vertical-align:middle;
  }
  .social {
    color:@white;
    font-size:18px;
    margin-left:17px;
    position:relative;
    top:-2px;
    &:hover {
      color:@lt-blue;
    }
  }
}
.logo {
  position:absolute;
  bottom:-63px;
  left:-34px;
}


// Home
// ------------------
.cedric {
  width:100%;
  height:783px;
  margin-top:-178px;
  z-index:1;
  background-color:@black;
  .bgs {
    z-index:1;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
  }
  .stage-bg {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-color:@black;
    background-position:center bottom;
    background-size:auto 100%;
    z-index:1;
  }
  .in {
    height:100%;
    z-index:4;
    .cedric-content {
      max-width:520px;
      position:absolute;
      top:250px;
      left:0;
      color:@white;
      z-index:99;
      text-shadow: 0px 0px 10px #000;
      filter: dropshadow(color=#000, offx=0, offy=0);
      iframe {
        border:solid 5px @lt-blue;
      }
      .small-header {
        color:@gold;
        font-weight:bold;
        text-transform:uppercase;
        font-size:18px;
        line-height:25px;
      }
      .bold-header {
        .tk-league;
        text-transform:uppercase;
        font-size:56px;
        line-height:61px;
      }
      .body {
        font-size:20px;
        line-height:26px;
      }
      .std-btn {
        margin-top:16px;
      }
      #header-video {
        background:@black;
        border:solid 5px @lt-blue;
      }
    }
    .promo {
      -webkit-text-shadow:0 0 50px @black;
      -moz-text-shadow:0 0 50px @black;
      -o-text-shadow:0 0 50px @black;
      -ms-text-shadow:0 0 50px @black;
      text-shadow:0 0 50px @black;
    }
    .cedric-profile {
      position:absolute;
      bottom:0;
      display:none;
      left:3000px;
      max-height:665px;
      z-index:9;
    }
  }
}
.look-whats-coming {
  border-top:solid 5px @yellow;
  background: url(../img/divider.jpg) no-repeat center center @lt-blue;
  padding-top:29px;
  padding-bottom:24px;
  .look {
    .tk-league;
    color:@white;
    text-transform:uppercase;
    font-size:52px;
    text-shadow:5px 0px 15px rgba(0,0,0,.4);
    padding-right:13px;
  }
  .slider {
    padding-left:12px;
    vertical-align:top;
    .slide {
      position:absolute;
      font-size:15px;
      line-height:25px;
      color:@white;
      time {
        font-weight:bold;
        font-size:17px;
      }
      a {
        color:@black;
        text-decoration: underline;
      }
    }
  }
}
.latest-features {
  background: url(../img/body-bg.jpg) no-repeat center bottom @dk-blue;
  background-size:auto;
  padding:50px 0;
  .btn {
    position:absolute;
    z-index:99;
    width:53px;
    height:53px;
  }
  .feature-left {
    background-image: url(../img/arrow-left.png);
  }
  .feature-right {
    background-image: url(../img/arrow-right.png);
    right:0;
  }
}
.feature {
  .tk-league;
  text-transform:uppercase;
  font-size:48px;
  color:@white;
  text-align:center;
}
.buckets {
  margin-top:46px;
  overflow:hidden;
  .node {
    width:300px;
    margin:0 10px;
    white-space:normal;
    float:left;
    overflow:hidden;
  }
}
.latest-video {
  background: url(../img/latest-video-bg.jpg) no-repeat center center @lt-grey;
  background-size:cover;
  padding-top:50px;
  padding-bottom:50px;
  overflow:hidden;
  .feature {
    color:@black;
  }
  .in {
    margin-top:46px;
  }
  .sidemod {
    width:370px;
    float:right;
  }
  .bucket {
    article {
      padding-top:20px;
    }
  }
  .btn {
    display:inline-block;
    width:40px;
    height:40px;
    background-size:auto 18px;
    margin-bottom:28px;
  }
  .video-prev {
    background-image: url(../img/arrow-left.png);
  }
  .video-next {
    margin-left:1px;
    background-image: url(../img/arrow-right.png);
  }
  .std-btn {
    margin-left:11px;
  }
  .ad {
    margin-top:20px;
    display:block;
  }
}
.brightcove-player {
  display:inline-block;
  vertical-align:top;
  float:left;
}


// About Page
// ------------------
.about {
  .wrap {
    min-height:746px;
    background: url(../img/about-bg.jpg) no-repeat right top @white;
  }
}
.about-text {
  width:440px;
  color:@black;
}
.cedric-about {
  position:absolute;
  bottom:0;
  right:0
}
.meet-millionaire {
  background:@dk-blue;
  color:@white;
  width:580px;
  font-size:20px;
  line-height:27px;
  padding:27px 30px;
  margin-top:32px;
  h3 {
    .tk-league;
    text-transform:uppercase;
    font-size:32px;
    margin-bottom:11px;
  }
}
.about {
  .buckets {
    margin-top:20px;
  }
  .node {
    margin:0 12px;
    &:first-child {
      margin-left:0;
    }
    &:last-child {
      margin-right:0;
      float:left;
    }
  }
}


// Listings Page
// ------------------
.listings-form {
  input, select {
    .tk-prox;
    text-transform:uppercase;
    padding-left:22px;
    height:34px;
    width:300px;
    border:solid 1px @dk-blue;
    display:block;
    margin:10px 0;
  }
}


// Video Page
// ------------------
.video-p {
  .latest-video {
    background:none;
  }
  .sidemod {
    width:300px;
  }
  .buckets {
    margin:0;
  }
  .node {
    width:274px;
    .bucket {
      background:@node-grey;
    }
    .tab {
      margin-bottom:0;
    }
    &:first-child {
      margin-left:0;
    }
  }
  .brightcove-player {
    float:left;
  }
}

// Game Page
// ------------------
.game-headers {
  text-align:center;
  margin-bottom:75px;
  table {
    width:100%;
  }
  td {
    width:33%;
    text-align:center;
  }
  hr {
    border:none;
    border-top:solid 1px @dk-blue;
  }
}
.blue-header {
  .tk-league;
  font-size:45px;
  line-height:50px;
  text-transform:uppercase;
  color:@dk-blue;
}
.black-header {
  .tk-league;
  font-size:88px;
  line-height:95px;
  text-transform:uppercase;
}
.available-now {
  .tk-prox;
  color:@dk-blue;
  font-size:30px;
  text-transform:uppercase;
  font-weight:bold;
}
.game {
  .brightcove-player {
    float:none;
    margin-bottom:20px;
  }
  .std-btn {
    a {
      color:@white;
    }
  }
}
.halves {
  display:inline-block;
  vertical-align: top;
  width:400px;
  font-size:18px;
  h1 {
    font-size:40px;
    line-height:40px;
    border:none;
    margin-bottom:0;
  }
}
.left {
  margin-right:60px;
}
.right {
  text-align: center;
  img {
    display:inline-block;
    vertical-align:top;
  }
}
.game-image {
  display:inline-block;
  vertical-align:top;
  margin-bottom:6px;
  height:210px;
  background-size:cover;
  &.half {
    width:49%;
    margin-left:1px;
  }
  &.full {
    width:100%;
  }
}
.platforms {
  text-align:center;
  .platform-wrap {
    margin-top:20px;
  }
  .platform {
    border-top:solid 1px @dk-blue;
    &:first-child {
      border-top:none;
    }
    div {
      width:33%;
      display:inline-block;
      padding:26px 0;
      img {
        vertical-align:middle;
      }
    }
  }
}
.game-copyright {
  margin-top:0;
  background:@black;
  padding:24px 40px;
  color:@white;
  font-size:12px;
  line-height:normal;
  td {
    vertical-align:middle;
  }
  .middle {
    padding:0 35px 0 25px;
  }
}


// Footer Area
// ------------------
#main-footer {
  background:@black;
  overflow:hidden;
  padding:50px 0 212px 0;
  .social-bar {
    width:135px;
    margin:0 auto;
    overflow:hidden;
    .social {
      position:static;
    }
  }
}
.footer-menu {
  margin-top:28px;
  display:block;
  text-align:center;
  li {
    display:inline-block;
    margin:0 15px;
  }
  a {
    font-size:14px;
    font-weight:bold;
    text-transform:uppercase;
    color:@footer-blue;
    line-height:20px;
  }
  .white {
    color:@white;
  }
}
.copyright {
  margin-top:23px;
  font-size:15px;
  color:@md-grey;
  text-align:center;
  display:block;
}


// Responsive
// ------------------
.not-desktop, .tablet-only, .mobile-only {
  display:none !important;
}