// Colors
// Greyscale
// ------------------
@black: #000;
@white: #fff;
@dk-grey: #333;
@md-grey: #999;
@lt-grey: #ccc;
@off-white: #b0b0b4;
@node-grey: #ebebeb;


// Tab Colors
// ------------------
@yellow: #edc41f;
@lt-blue: #1f8cf1;
@dk-blue: #104476;
@pink: #ed1f77;
@green: #57a932;
@gold: #edc41f;


// Font Colors
// ------------------
@footer-blue: #1f8cf1;
@link-blue: #40ccff;