.content {
  padding-top: 256px;
  margin-top: -256px;
  background: url(../img/body-bg.jpg) no-repeat center bottom #104476;
  padding-bottom: 50px;
}
.wrap {
  margin-top: 60px;
  padding: 38px;
  font-size: 20px;
  line-height: 24px;
  background: #ffffff;
}
.wrap.small-gap {
  margin-top: 20px;
}
.wrap h1 {
  font-family: "league-gothic", sans-serif;
  text-transform: uppercase;
  font-size: 48px;
  padding-bottom: 20px;
  border-bottom: solid 1px #104476;
  margin-bottom: 15px;
}
.wrap h5 {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 30px;
}
.wrap h5:first-child {
  margin-top: 0;
}
.wrap a {
  color: #40ccff;
}
.ad {
  display: inline-block;
  vertical-align: top;
}
.clearfix {
  float: none;
  clear: both;
}
.tk-league {
  font-family: "league-gothic", sans-serif;
}
.tk-prox {
  font-family: "proxima-nova", sans-serif;
}
button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}
.btn {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #000000;
}
.std-btn {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  background: #000000;
  height: 40px;
  padding: 13px 20px 0 20px;
  color: #ffffff !important;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 2px;
}
.btn:hover,
.std-btn:hover {
  background-color: #1f8cf1;
}
.bucket {
  width: 100%;
  background: #ffffff;
}
.bucket .tab {
  font-family: "league-gothic", sans-serif;
  border: none;
  position: relative;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 22px;
  padding: 14px 0 16px 30px;
}
.bucket .tab:after {
  position: absolute;
  z-index: 10;
  bottom: -13px;
  right: 10px;
  content: ' ';
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}
.bucket img {
  display: block;
  width: 100%;
}
.bucket article {
  text-align: left;
  padding: 12px 30px 27px 30px;
  font-size: 20px;
}
.bucket article .title {
  font-family: "league-gothic", sans-serif;
  color: #000000;
  font-size: 36px;
  margin-bottom: 12px;
}
.bucket article .learn-more {
  display: block;
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
}
.bucket article a {
  color: #000000;
}
.yel {
  background-color: #edc41f;
}
.yel:after {
  border-top: 14px solid #edc41f;
}
.pink {
  background-color: #ed1f77;
}
.pink:after {
  border-top: 14px solid #ed1f77;
}
.lt-blue {
  background-color: #1f8cf1;
}
.lt-blue:after {
  border-top: 14px solid #1f8cf1;
}
.dk-blue {
  background-color: #104476;
}
.dk-blue:after {
  border-top: 14px solid #104476;
}
.green {
  background-color: #57a932;
}
.green:after {
  border-top: 14px solid #57a932;
}
.in {
  width: 950px;
  margin-left: auto;
  margin-right: auto;
}
div[class^='span'] {
  display: inline-block;
}
.span1 {
  width: 8.33333333%;
}
.span2 {
  width: 16.66666667%;
}
.span3 {
  width: 25%;
}
.span4 {
  width: 33.33333333%;
}
.span5 {
  width: 41.66666667%;
}
.span6 {
  width: 50%;
}
.span7 {
  width: 58.33333333%;
}
.span8 {
  width: 66.66666667%;
}
.span9 {
  width: 75%;
}
.span10 {
  width: 83.33333333%;
}
.span11 {
  width: 91.66666667%;
}
.span12 {
  width: 100%;
}
html {
  overflow-x: hidden;
}
body {
  font-family: "proxima-nova", sans-serif;
}
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #000000;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #000000;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #000000;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #000000;
}
#main-header {
  background-color: #104476;
  width: 1058px;
  margin: 0 auto;
  padding: 0 58px;
  height: 178px;
  z-index: 10;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.6);
}
#main-header .social-bar {
  float: right;
  text-align: right;
  margin-top: 12px;
}
#header-ad {
  position: absolute;
  right: 49px;
  top: 38px;
}
.menu-wrap {
  position: absolute;
  bottom: 9px;
  left: 280px;
}
.menu-wrap li {
  float: left;
  position: relative;
  padding-bottom: 6px;
  margin-right: 16px;
  border-bottom: solid 2px transparent;
}
.menu-wrap li.current-menu-item {
  border-color: #ffffff;
}
.menu-wrap li:hover .sub-menu {
  display: block;
}
.menu-wrap a {
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}
.sub-menu {
  padding-top: 12px;
  display: none;
  position: absolute;
  z-index: 9;
  top: 21px;
  left: 0;
}
.sub-menu li {
  background: #1f8cf1;
  margin: 0;
  padding: 0 19px;
  border-bottom: solid 1px #104476;
  min-width: 140px;
}
.sub-menu li:first-child {
  background: url(../img/drop-shadow.png) repeat-x center top #1f8cf1;
}
.sub-menu li:last-child {
  border-bottom: 0;
}
.sub-menu a,
.sub-menu span {
  color: #ffffff;
  display: block;
  white-space: nowrap;
  padding: 16px 0;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: normal;
}
.social-bar li {
  float: left;
}
.social-bar a {
  float: left;
  color: #b0b0b4;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 13px;
  vertical-align: middle;
}
.social-bar .social {
  color: #ffffff;
  font-size: 18px;
  margin-left: 17px;
  position: relative;
  top: -2px;
}
.social-bar .social:hover {
  color: #1f8cf1;
}
.logo {
  position: absolute;
  bottom: -63px;
  left: -34px;
}
.cedric {
  width: 100%;
  height: 783px;
  margin-top: -178px;
  z-index: 1;
  background-color: #000000;
}
.cedric .bgs {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.cedric .stage-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000000;
  background-position: center bottom;
  background-size: auto 100%;
  z-index: 1;
}
.cedric .in {
  height: 100%;
  z-index: 4;
}
.cedric .in .cedric-content {
  max-width: 520px;
  position: absolute;
  top: 250px;
  left: 0;
  color: #ffffff;
  z-index: 99;
  text-shadow: 0px 0px 10px #000;
  filter: dropshadow(color=#000000, offx=0, offy=0);
}
.cedric .in .cedric-content iframe {
  border: solid 5px #1f8cf1;
}
.cedric .in .cedric-content .small-header {
  color: #edc41f;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 25px;
}
.cedric .in .cedric-content .bold-header {
  font-family: "league-gothic", sans-serif;
  text-transform: uppercase;
  font-size: 56px;
  line-height: 61px;
}
.cedric .in .cedric-content .body {
  font-size: 20px;
  line-height: 26px;
}
.cedric .in .cedric-content .std-btn {
  margin-top: 16px;
}
.cedric .in .cedric-content #header-video {
  background: #000000;
  border: solid 5px #1f8cf1;
}
.cedric .in .promo {
  -webkit-text-shadow: 0 0 50px #000000;
  -moz-text-shadow: 0 0 50px #000000;
  -o-text-shadow: 0 0 50px #000000;
  -ms-text-shadow: 0 0 50px #000000;
  text-shadow: 0 0 50px #000000;
}
.cedric .in .cedric-profile {
  position: absolute;
  bottom: 0;
  display: none;
  left: 3000px;
  max-height: 665px;
  z-index: 9;
}
.look-whats-coming {
  border-top: solid 5px #edc41f;
  background: #1f8cf1;
  padding-top: 29px;
  padding-bottom: 24px;
}
.look-whats-coming .look {
  font-family: "league-gothic", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 52px;
  text-shadow: 5px 0px 15px rgba(0, 0, 0, 0.4);
  padding-right: 13px;
}
.look-whats-coming .slider {
  padding-left: 12px;
  vertical-align: top;
}
.look-whats-coming .slider .slide {
  position: absolute;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
}
.look-whats-coming .slider .slide time {
  font-weight: bold;
  font-size: 17px;
}
.look-whats-coming .slider .slide a {
  color: #000000;
  text-decoration: underline;
}
.latest-features {
  background: url(../img/body-bg.jpg) no-repeat center bottom #104476;
  background-size: auto;
  padding: 50px 0;
}
.latest-features .btn {
  position: absolute;
  z-index: 99;
  width: 53px;
  height: 53px;
}
.latest-features .feature-left {
  background-image: url(../img/arrow-left.png);
}
.latest-features .feature-right {
  background-image: url(../img/arrow-right.png);
  right: 0;
}
.feature {
  font-family: "league-gothic", sans-serif;
  text-transform: uppercase;
  font-size: 48px;
  color: #ffffff;
  text-align: center;
}
.buckets {
  margin-top: 46px;
  overflow: hidden;
}
.buckets .node {
  width: 300px;
  margin: 0 10px;
  white-space: normal;
  float: left;
  overflow: hidden;
}
.latest-video {
  background: url(../img/latest-video-bg.jpg) no-repeat center center #cccccc;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;
}
.latest-video .feature {
  color: #000000;
}
.latest-video .in {
  margin-top: 46px;
}
.latest-video .sidemod {
  width: 370px;
  float: right;
}
.latest-video .bucket article {
  padding-top: 20px;
}
.latest-video .btn {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-size: auto 18px;
  margin-bottom: 28px;
}
.latest-video .video-prev {
  background-image: url(../img/arrow-left.png);
}
.latest-video .video-next {
  margin-left: 1px;
  background-image: url(../img/arrow-right.png);
}
.latest-video .std-btn {
  margin-left: 11px;
}
.latest-video .ad {
  margin-top: 20px;
  display: block;
}
.brightcove-player {
  display: inline-block;
  vertical-align: top;
  float: left;
}
.about .wrap {
  min-height: 746px;
  background: url(../img/about-bg.jpg) no-repeat right top #ffffff;
}
.about-text {
  width: 440px;
  color: #000000;
}
.cedric-about {
  position: absolute;
  bottom: 0;
  right: 0;
}
.meet-millionaire {
  background: #104476;
  color: #ffffff;
  width: 580px;
  font-size: 20px;
  line-height: 27px;
  padding: 27px 30px;
  margin-top: 32px;
}
.meet-millionaire h3 {
  font-family: "league-gothic", sans-serif;
  text-transform: uppercase;
  font-size: 32px;
  margin-bottom: 11px;
}
.about .buckets {
  margin-top: 20px;
}
.about .node {
  margin: 0 12px;
}
.about .node:first-child {
  margin-left: 0;
}
.about .node:last-child {
  margin-right: 0;
  float: left;
}
.cmn.content .in {
  width: 926px;
}
.cmn.content .in.wrap {
  padding: 20px;
  overflow: auto;
}
.cmn.content .in.wrap .spots-sidebar {
  width: 276px;
  float: left;
  margin-right: 20px;
}
.cmn.content .in.wrap .spots-sidebar img {
  margin-top: 20px;
}
.cmn.content .in.wrap .spots-sidebar img:first-of-type {
  margin-top: 0;
}
.cmn.content .in.wrap .content-container {
  width: 587px;
  float: right;
}
.cmn.content .in.wrap .content-container img {
  display: block;
}
.cmn.content .in.wrap .left-button {
  float: left;
}
.cmn.content .in.wrap .right-button {
  float: right;
}
.listings-form input,
.listings-form select {
  font-family: "proxima-nova", sans-serif;
  text-transform: uppercase;
  padding-left: 22px;
  height: 34px;
  width: 300px;
  border: solid 1px #104476;
  display: block;
  margin: 10px 0;
}
.video-p .latest-video {
  background: none;
}
.video-p .sidemod {
  width: 300px;
}
.video-p .buckets {
  margin: 0;
}
.video-p .node {
  width: 274px;
}
.video-p .node .bucket {
  background: #ebebeb;
}
.video-p .node .tab {
  margin-bottom: 0;
}
.video-p .node:first-child {
  margin-left: 0;
}
.video-p .brightcove-player {
  float: left;
}
.game-headers {
  text-align: center;
  margin-bottom: 75px;
}
.game-headers table {
  width: 100%;
}
.game-headers td {
  width: 33%;
  text-align: center;
}
.game-headers hr {
  border: none;
  border-top: solid 1px #104476;
}
.blue-header {
  font-family: "league-gothic", sans-serif;
  font-size: 45px;
  line-height: 50px;
  text-transform: uppercase;
  color: #104476;
}
.black-header {
  font-family: "league-gothic", sans-serif;
  font-size: 88px;
  line-height: 95px;
  text-transform: uppercase;
}
.available-now {
  font-family: "proxima-nova", sans-serif;
  color: #104476;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
}
.game .brightcove-player {
  float: none;
  margin-bottom: 20px;
}
.game .std-btn a {
  color: #ffffff;
}
.halves {
  display: inline-block;
  vertical-align: top;
  width: 400px;
  font-size: 18px;
}
.halves h1 {
  font-size: 40px;
  line-height: 40px;
  border: none;
  margin-bottom: 0;
}
.left {
  margin-right: 60px;
}
.right {
  text-align: center;
}
.right img {
  display: inline-block;
  vertical-align: top;
}
.game-image {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 6px;
  height: 210px;
  background-size: cover;
}
.game-image.half {
  width: 49%;
  margin-left: 1px;
}
.game-image.full {
  width: 100%;
}
.platforms {
  text-align: center;
}
.platforms .platform-wrap {
  margin-top: 20px;
}
.platforms .platform {
  border-top: solid 1px #104476;
}
.platforms .platform:first-child {
  border-top: none;
}
.platforms .platform div {
  width: 33%;
  display: inline-block;
  padding: 26px 0;
}
.platforms .platform div img {
  vertical-align: middle;
}
.game-copyright {
  margin-top: 0;
  background: #000000;
  padding: 24px 40px;
  color: #ffffff;
}
.game-copyright td {
  vertical-align: middle;
  font-size: 12px;
  line-height: normal;
}
.game-copyright .middle {
  padding: 0 35px 0 25px;
}
#main-footer {
  background: #000000;
  overflow: hidden;
  padding: 50px 0 212px 0;
}
#main-footer .social-bar {
  width: 135px;
  margin: 0 auto;
  overflow: hidden;
}
#main-footer .social-bar .social {
  position: static;
}
.footer-menu {
  margin-top: 28px;
  display: block;
  text-align: center;
}
.footer-menu li {
  display: inline-block;
  margin: 0 15px;
}
.footer-menu a {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #1f8cf1;
  line-height: 20px;
}
.footer-menu .white {
  color: #ffffff;
}
.copyright {
  margin-top: 23px;
  font-size: 15px;
  color: #999999;
  text-align: center;
  display: block;
}
.not-desktop,
.tablet-only,
.mobile-only {
  display: none !important;
}
@media (min-width: 1980px) {
  .stage-bg {
    background-size: cover !important;
  }
}
@media (min-width: 1400px) {
  .stage-bg {
    background-size: cover !important;
  }
}
@media (max-width: 1058px) {
  .not-desktop,
  .tablet-only {
    display: block !important;
  }
  .desktop-only,
  .not-tablet {
    display: none !important;
  }
  #main-header {
    width: 768px;
    height: 256px;
  }
  .wrap.withad .text-block {
    width: 573px;
  }
  #header-ad {
    right: 20px;
  }
  .wrap {
    font-size: 18px;
    line-height: 22px;
  }
  .wrap h5 {
    font-size: 18px;
    line-height: 22px;
  }
  .cedric .in .cedric-content {
    top: 330px;
  }
  .menu-wrap {
    left: 210px;
  }
  .menu-wrap li {
    margin-right: 12px;
  }
  .menu-wrap a {
    font-size: 12px;
  }
  .logo {
    bottom: -56px;
  }
  .logo img {
    width: 280px;
  }
  .buckets {
    width: 100%;
  }
  .cedric {
    height: 870px;
    margin-top: -256px;
  }
  .cedric .in .cedric-profile {
    left: 110px;
    max-height: 620px;
  }
  .look-whats-coming .look {
    font-size: 40px;
  }
  .look-whats-coming .slider .slide {
    font-size: 12px;
    line-height: normal;
  }
  .look-whats-coming .slider time {
    font-size: 14px;
  }
  .latest-video {
    padding-bottom: 100px;
  }
  .latest-video .in {
    width: 540px;
  }
  .latest-video .sidemod {
    width: 540px;
    margin: 0 auto;
    float: none;
  }
  .latest-video .sidemod .btn,
  .latest-video .sidemod .std-btn {
    position: absolute;
    bottom: -454px;
  }
  .latest-video .sidemod .video-next {
    right: 150px;
  }
  .latest-video .sidemod .video-prev {
    right: 191px;
  }
  .latest-video .sidemod .std-btn {
    right: 0;
  }
  .latest-video .sidemod .bucket {
    margin-bottom: 0;
  }
  .latest-video .sidemod .bucket article {
    font-size: 17px;
  }
  .latest-video .brightcove-player {
    display: block;
    float: none;
  }
  .latest-video .brightcove {
    display: block;
    margin: 0 auto 20px auto;
    width: 540px;
  }
  .about .wrap {
    min-height: 0;
  }
  .about .buckets .node {
    width: 100%;
    display: block;
    margin: 0 0 30px 0;
  }
  .about-text {
    width: 431px;
  }
  .cedric-about {
    height: 90%;
  }
  .meet-millionaire {
    margin-top: 0;
    width: 100%;
  }
  .game-headers td {
    width: 30%;
  }
  .game-headers .middle {
    width: 40%;
  }
  .halves {
    width: 290px;
  }
  .new-game .halves {
    width: 100%;
  }
  .new-game .left {
    text-align: center;
  }
  .game-image {
    display: none;
    margin-top: 30px;
    width: 32% !important;
    background-position: center;
  }
  .game-image:first-child,
  .game-image:nth-child(2),
  .game-image:nth-child(3) {
    display: inline-block;
  }
  .video-p {
    padding-bottom: 20px;
  }
  .video-p .sidemod {
    margin-top: 27px;
  }
  .video-p .buckets {
    margin-left: auto;
    margin-right: auto;
  }
  .video-p .node {
    margin-left: 0 !important;
    width: 100%;
    display: block;
    overflow: hidden;
    background: #ffffff;
    margin-top: 30px;
  }
  .video-p .node img {
    float: left;
    width: 32%;
  }
  .video-p .node .filler {
    float: left;
    width: 68%;
  }
  .video-p .node .filler article {
    padding-bottom: 0px !important;
  }
  .in {
    width: 748px;
  }
}
@media (max-width: 767px) {
  html,
  body {
    overflow-x: hidden;
    min-width: 300px;
  }
  .mobile-only,
  .not-tablet {
    display: block !important;
  }
  .tablet-only,
  .not-mobile {
    display: none !important;
  }
  .content {
    margin-top: 0;
    padding-top: 0;
  }
  .wrap {
    min-width: 100%;
    width: 100%;
    padding: 23px 10px;
    margin-top: 0;
  }
  .wrap.withad .text-block {
    padding: 23px 10px;
    width: 100%;
  }
  .wrap h1 {
    font-size: 36px;
    border: none;
    text-align: center;
    line-height: normal;
    margin-bottom: 0;
    padding-bottom: 14px;
  }
  .wrap h5 {
    margin-top: 15px;
  }
  #mobile-header {
    height: auto;
    z-index: 99;
    background-size: cover;
  }
  #mobile-header .in {
    height: 177px;
  }
  #mobile-header .cedric-profile {
    position: absolute;
    bottom: 0;
    right: -25px;
    height: 100%;
  }
  #mobile-header .menu-wrap {
    left: auto;
    width: 100%;
    position: static;
    overflow: visible;
    padding: 22px 0 10px 0;
    background: url(../img/drop-shadow.png) repeat-x center top #104476;
  }
  #mobile-header .menu-wrap ul {
    width: 300px;
    margin: 0 auto;
  }
  #mobile-header .menu-wrap li {
    float: none;
    display: inline-block;
    cursor: pointer;
  }
  #mobile-header .logo {
    top: -3px;
    left: -60px;
    bottom: auto;
  }
  #mobile-header .logo img {
    width: 244px;
  }
  .sub-menu {
    position: absolute;
    width: 100%;
    top: 0;
    padding-top: 0;
    display: none;
  }
  .sub-menu li {
    float: none;
    display: block !important;
  }
  .sub-menu time {
    font-weight: bold;
  }
  .sub-menu span {
    white-space: normal;
  }
  .sub-menu span a {
    color: #000000;
    text-decoration: underline;
    display: inline;
    padding: 0;
    margin: 0;
    line-height: normal;
  }
  .latest-features {
    padding-bottom: 80px;
  }
  .latest-features .btn {
    width: 40px;
    height: 40px;
    background-size: auto 18px;
  }
  .latest-features .feature-left {
    right: 51px;
    bottom: 30px;
  }
  .latest-features .feature-right {
    right: 10px;
    bottom: 30px;
  }
  .latest-video {
    padding-right: 10px;
    padding-left: 10px;
  }
  .latest-video .in {
    width: 100%;
  }
  .latest-video .sidemod {
    width: 100%;
  }
  .latest-video .brightcove {
    width: auto;
  }
  .cedric {
    margin-top: 0;
    height: auto;
    background-size: auto;
    padding: 10% 0;
    background-position: bottom right;
  }
  .cedric .stage-bg {
    background-size: cover;
  }
  .cedric .in {
    width: 100%;
    padding: 0 10px;
  }
  .cedric .in .cedric-content {
    position: relative;
    top: 0;
    max-width: none;
  }
  .cedric .in .cedric-content .small-header {
    font-size: 14px;
  }
  .cedric .in .cedric-content .bold-header {
    font-size: 34px;
    line-height: 34px;
  }
  .cedric .in .cedric-content .body {
    font-size: 17px;
    line-height: 24px;
  }
  #header-video {
    width: 100%;
  }
  .promo {
    width: 300px;
    margin: 0 auto;
  }
  .about .buckets {
    width: 100%;
    padding: 0 10px;
  }
  .about .wrap {
    background: #ffffff;
  }
  .about-text {
    width: 100%;
  }
  .meet-millionaire {
    padding: 18px 27px;
    margin-top: 14px;
    font-size: 17px;
    line-height: 22px;
  }
  .meet-millionaire h3 {
    font-size: 22px;
  }
  .cmn.content .in {
    width: 100%;
  }
  .cmn.content .in img {
    display: block;
    margin: 20px auto;
  }
  .cmn.content .in .cmn-hero-image {
    width: 100%;
  }
  .cmn.content .in .left-button,
  .cmn.content .in .right-button {
    float: none !important;
  }
  .listings-form input,
  .listings-form select {
    width: 100%;
  }
  .game-headers {
    margin-bottom: 30px;
  }
  .game-headers hr {
    display: none;
  }
  .game-headers td {
    width: 10%;
  }
  .game-headers .middle {
    width: 75%;
  }
  .blue-header {
    font-size: 38px;
    line-height: 43px;
  }
  .black-header {
    font-size: 54px;
    line-height: 60px;
  }
  .available-now {
    font-size: 23px;
    line-height: 35px;
  }
  .game .brightcove-player {
    width: 300px;
  }
  .game .brightcove-player object {
    width: 300px;
    height: 245px;
  }
  .img-wrap {
    text-align: center;
    margin-bottom: 20px;
  }
  .img-wrap img {
    max-width: 100%;
  }
  .halves {
    width: 100%;
  }
  .platforms .platform div {
    width: 49%;
  }
  .platforms .platform div img {
    max-width: 90%;
  }
  .platforms .platform .buy-now {
    padding-top: 0;
    display: block;
    width: 100%;
  }
  .platforms .platform .buy-now .std-btn {
    width: 100%;
  }
  .video-p .latest-video {
    padding: 0;
  }
  .video-p .latest-video .sidemod {
    width: auto;
  }
  .video-p .node img {
    width: 100%;
    float: none;
    display: block;
  }
  .video-p .node .filler {
    float: none;
    width: 100%;
  }
  .video-p .node .filler article {
    padding-bottom: 27px !important;
  }
  .video-p .brightcove-player {
    display: inline-block;
  }
  .footer-menu li {
    display: block;
    padding: 0;
  }
  .in {
    width: 300px;
  }
}
