// Generals
// ------------------
.content {
  padding-top:256px;
  margin-top:-256px;
  background: url(../img/body-bg.jpg) no-repeat center bottom @dk-blue;
  padding-bottom:50px;
}
.wrap {
  margin-top:60px;
  padding:38px;
  font-size:20px;
  line-height:24px;
  background:@white;
  &.small-gap {
    margin-top:20px;
  }
  h1 {
    .tk-league;
    text-transform:uppercase;
    font-size:48px;
    padding-bottom:20px;
    border-bottom:solid 1px @dk-blue;
    margin-bottom:15px;
  }
  h5 {
    font-size:20px;
    line-height:24px;
    font-weight:bold;
    text-transform:uppercase;
    margin-top:30px;
    &:first-child {
      margin-top:0;
    }
  }
  a {
    color:@link-blue;
  }
}
.ad {
  display:inline-block;
  vertical-align:top;
}
.clearfix {
  float:none;
  clear:both;
}


// Headers
// ------------------


//// Typekit Fonts
// ------------------
.tk-league {
  font-family: "league-gothic", sans-serif;
}
.tk-prox {
  font-family: "proxima-nova", sans-serif;
}


// Buttons
// ------------------
button {
  margin:0;
  padding:0;
  background:none;
  border:none;
}
.btn {
  cursor:pointer;
  background-repeat:no-repeat;
  background-position:center center;
  background-color:@black;
}
.std-btn {
  cursor:pointer;
  display:inline-block;
  vertical-align:top;
  text-transform:uppercase;
  background:@black;
  height:40px;
  padding:13px 20px 0 20px;
  color:@white !important;
  font-weight:bold;
  font-size:16px;
  line-height:16px;
  letter-spacing:2px;
}
.btn, .std-btn {
  &:hover {
    background-color:@lt-blue;
  }
}


// Bucket Styles
// ------------------
.bucket {
  width:100%;
  background:@white;
  .tab {
    .tk-league;
    border:none;
    position:relative;
    text-align:left;
    color:@white;
    text-transform:uppercase;
    font-size:22px;
    padding:14px 0 16px 30px;
    &:after {
      position:absolute;
      z-index:10;
      bottom:-13px;
      right:10px;
      content: ' ';
      width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
    }
  }
  img {
    display:block;
    width:100%;
  }
  article {
    text-align:left;
    padding:12px 30px 27px 30px;
    font-size:20px;
    .title {
      .tk-league;
      color:@black;
      font-size:36px;
      margin-bottom:12px;
    }
    .learn-more {
      display:block;
      margin-top:20px;
      text-transform:uppercase;
      font-size:15px;
      font-weight:bold;
    }
    a {
      color:@black;
    }
  }
}
// Tab Styles
// ------------------
.tab-mixin(@color) {
  background-color:@color;
  &:after {
    border-top: 14px solid @color;
  }
}
.yel {
  .tab-mixin(@yellow);
}
.pink {
  .tab-mixin(@pink);
}
.lt-blue {
  .tab-mixin(@lt-blue);
}
.dk-blue {
  .tab-mixin(@dk-blue);
}
.green {
  .tab-mixin(@green);
}

// Grid System
// ------------------
.in {
  width:950px;
  margin-left:auto;
  margin-right:auto;
}
div[class^='span'] {
  display:inline-block;
}
.span1 {
  width:(1 / 12)*100%;
}
.span2 {
  width:(2 / 12)*100%;
}
.span3 {
  width:(3 / 12)*100%;
}
.span4 {
  width:(4 / 12)*100%;
}
.span5 {
  width:(5 / 12)*100%;
}
.span6 {
  width:(6 / 12)*100%;
}
.span7 {
  width:(7 / 12)*100%;
}
.span8 {
  width:(8 / 12)*100%;
}
.span9 {
  width:(9 / 12)*100%;
}
.span10 {
  width:(10 / 12)*100%;
}
.span11 {
  width:(11 / 12)*100%;
}
.span12 {
  width:(12 / 12)*100%;
}
