NameError: variable @dk-blue is undefined in C:\Users\Ethan\PhpstormProjects\million\wp-content\themes\million\less\mixins.less:6:62
5   margin-top:-256px;
6   background: url(../img/body-bg.jpg) no-repeat center bottom @dk-blue;
7   padding-bottom:50px;

