//Extra Large Desktop Size
// ------------------
@media (min-width:1980px) {
  .stage-bg {
    background-size:cover !important;
  }
}

//Large Desktop Size
// ------------------
@media (min-width:1400px) {
  .stage-bg {
    background-size:cover !important;
  }
}

//// Tablet Styles
// ------------------
@media (max-width:1058px) {
  // Responsive Classes
  // ------------------
  .not-desktop, .tablet-only {
    display:block !important;
  }
  .desktop-only, .not-tablet {
    display:none !important;
  }


  // General Styles
  // ------------------
  #main-header {
    width:768px;
    height:256px;
  }
  .wrap {
    &.withad {
      .text-block {
        width:573px;
      }
    }
  }
  #header-ad {
    right:20px;
  }
  .wrap {
    font-size:18px;
    line-height:22px;
    h5 {
      font-size:18px;
      line-height:22px;
    }
  }
  .cedric {
    .in {
      .cedric-content {
        top:330px;
      }
    }
  }


  // Header Area
  // ------------------
  .menu-wrap {
    left:210px;
    li {
      margin-right:12px;
    }
    a {
      font-size:12px;
    }
  }
  .logo {
    bottom:-56px;
    img {
      width:280px;
    }
  }


  // Home
  // ------------------
  .buckets {
    width:100%;
  }
  .cedric {
    height:870px;
    margin-top:-256px;
    .in {
      .cedric-profile {
        left:110px;
        max-height:620px;
      }
    }
  }
  .look-whats-coming {
    .look {
      font-size:40px;
    }
    .slider {
      .slide {
        font-size:12px;
        line-height:normal;
      }
      time {
        font-size:14px;
      }
    }
  }
  .latest-video {
    padding-bottom:100px;
    .in {
      width:540px;
    }
    .sidemod {
      width:540px;
      margin:0 auto;
      float:none;
      .btn, .std-btn {
        position:absolute;
        bottom:-454px;
      }
      .video-next {
        right:150px;
      }
      .video-prev {
        right:191px;
      }
      .std-btn {
        right:0;
      }
      .bucket {
        margin-bottom:0;
        article {
          font-size:17px;
        }
      }
    }
    .brightcove-player {
      display:block;
      float:none;
    }
    .brightcove {
      display: block;
      margin:0 auto 20px auto;
      width:540px;
    }
  }


  // About Page
  // ------------------
  .about {
    .wrap {
      min-height:0;
    }
    .buckets {
      .node {
        width:100%;
        display:block;
        margin:0 0 30px 0;
      }
    }
  }
  .about-text {
    width:431px;
  }
  .cedric-about {
    height:90%;
  }
  .meet-millionaire {
    margin-top:0;
    width:100%;
  }

  // Game Page
  // ------------------
  .game-headers {
    td {
      width:30%;
    }
    .middle {
      width:40%;
    }
  }
  .halves {
    width:290px;
  }
  .new-game {
    .halves {
      width:100%;
    }
    .left {
      text-align:center;
    }
  }
  .game-image {
    display:none;
    margin-top:30px;
    width:32% !important;
    background-position:center;
    &:first-child, &:nth-child(2), &:nth-child(3) {
      display:inline-block;
    }
  }


  // Video Page
  // ------------------
  .video-p {
    padding-bottom:20px;
    .sidemod {
      margin-top:27px;
    }
    .buckets {
      margin-left:auto;
      margin-right:auto;
    }
    .node {
      margin-left:0 !important;
      width:100%;
      display:block;
      overflow:hidden;
      background:@white;
      margin-top:30px;
      img {
        float:left;
        width:32%;
      }
      .filler {
        float:left;
        width:68%;
        article {
          padding-bottom:0px !important;
        }
      }
    }
  }

  // Grid
  // ------------------
  .in {
    width:748px;
  }
}

// Mobile Styles
// ------------------
@media (max-width:767px) {
  html, body {
    overflow-x:hidden;
    min-width:300px;
  }

  // Responsive Classes
  // ------------------
  .mobile-only, .not-tablet {
    display:block !important;
  }
  .tablet-only, .not-mobile {
    display:none !important;
  }

  // General Classes
  // ------------------
  .content {
    margin-top:0;
    padding-top:0;
  }
  .wrap {
    min-width:100%;
    width:100%;
    padding:23px 10px;
    margin-top:0;
    &.withad {
      .text-block {
        padding:23px 10px;
        width:100%;
      }
    }
    h1 {
      font-size:36px;
      border:none;
      text-align:center;
      line-height:normal;
      margin-bottom:0;
      padding-bottom:14px;
    }
    h5 {
      margin-top:15px;
    }
  }

  // Header Area
  // ------------------
  #mobile-header {
    height:auto;
    z-index:99;
    background-size:cover;
    .in {
      height:177px;
    }
    .cedric-profile {
      position:absolute;
      bottom:0;
      right:-25px;
      height:100%;
    }
    .menu-wrap {
      left:auto;
      width:100%;
      position:static;
      overflow:visible;
      padding:22px 0 10px 0;
      background: url(../img/drop-shadow.png)repeat-x center top @dk-blue;
      ul {
        width:300px;
        margin:0 auto;
      }
      li {
        float:none;
        display:inline-block;
        cursor:pointer;
      }
    }
    .logo {
      top:-3px;
      left:-60px;
      bottom:auto;
      img {
        width:244px;
      }
    }
  }
  .sub-menu {
    position:absolute;
    width:100%;
    top:0;
    padding-top:0;
    display:none;
    li {
      float:none;
      display:block !important;
    }
    time {
      font-weight:bold;
    }
    span {
      white-space:normal;
      a {
        color:@black;
        text-decoration:underline;
        display:inline;
        padding:0;
        margin:0;
        line-height:normal;
      }
    }
  }

  // Home Page
  // ------------------
  .latest-features {
    padding-bottom:80px;
    .btn {
      width:40px;
      height:40px;
      background-size:auto 18px;
    }
    .feature-left {
      right:51px;
      bottom:30px;
    }
    .feature-right {
      right:10px;
      bottom:30px;
    }
  }
  .latest-video {
    padding-right:10px;
    padding-left:10px;
    .in {
      width:100%;
    }
    .sidemod {
      width:100%;
    }
    .brightcove {
      width:auto;
    }
  }
  .cedric {
    margin-top:0;
    height:auto;
    background-size:auto;
    padding:10% 0;
    background-position:bottom right;
    .stage-bg {
      background-size:cover;
    }
    .in {
      width:100%;
      padding:0 10px;
      .cedric-content {
        position:relative;
        top:0;
        max-width:none;
        .small-header {
          font-size:14px;
        }
        .bold-header {
          font-size:34px;
          line-height:34px;
        }
        .body {
          font-size:17px;
          line-height:24px;
        }
      }
    }
  }
  #header-video {
    width:100%;
  }
  .promo {
    width:300px;
    margin:0 auto;
  }


  // About Page
  // ------------------
  .about {
    .buckets {
      width:100%;
      padding:0 10px;
    }
    .wrap {
      background:@white;
    }
  }
  .about-text {
    width:100%;
  }
  .meet-millionaire {
    padding:18px 27px;
    margin-top:14px;
    font-size:17px;
    line-height:22px;
    h3 {
      font-size:22px;
    }
  }

  // CMN Page
  // ------------------
  .cmn.content {
    .in {
      width: 100%;

      img { display: block; margin: 20px auto; }

      .cmn-hero-image {
        width: 100%;
      }

      .left-button, .right-button {
        float: none !important;
      }

    }
  }

  // Local Listings Page
  // ------------------
  .listings-form {
    input, select {
      width:100%;
    }
  }

  // Game Page
  // ------------------
  .game-headers {
    margin-bottom:30px;
    hr {
      display:none;
    }
    td {
      width:10%;
    }
    .middle {
      width:75%;
    }
  }
  .blue-header {
    font-size:38px;
    line-height:43px;
  }
  .black-header {
    font-size:54px;
    line-height:60px;
  }
  .available-now {
    font-size:23px;
    line-height:35px;
  }
  .game {
    .brightcove-player {
      width:300px;
      object {
        width:300px;
        height:245px;
      }
    }
  }
  .img-wrap {
    text-align:center;
    margin-bottom:20px;
    img {
      max-width:100%;
    }
  }
  .halves {
    width:100%;
  }
  .platforms {
    .platform {
      div {
        width:49%;
        img {
          max-width:90%;
        }
      }
      .buy-now {
        padding-top:0;
        display:block;
        width:100%;
        .std-btn {
          width:100%;
        }
      }
    }
  }

  // Videos Page
  // ------------------
  .video-p {
    .latest-video {
      padding:0;
      .sidemod {
        width:auto;
      }
    }
    .node {
      img {
        width:100%;
        float:none;
        display:block;
      }
      .filler {
        float:none;
        width:100%;
        article {
          padding-bottom:27px !important;
        }
      }
    }
    .brightcove-player {
      display:inline-block;
    }
  }

  // Footer Area
  // ------------------
  .footer-menu {
    li {
      display:block;
      padding:0;
    }
  }

  // Grid
  // ------------------
  .in {
    width:300px;
  }
}